apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: dockyards-pdns
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - patch
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - get
      - list
      - patch
      - watch
  - apiGroups:
      - dockyards.io
    resources:
      - clusters
      - organizations
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - dockyards.io
    resources:
      - clusters/status
      - dnszoneclaims/status
      - dnszones/status
    verbs:
      - patch
  - apiGroups:
      - dockyards.io
    resources:
      - dnszoneclaims
    verbs:
      - create
      - get
      - list
      - watch
  - apiGroups:
      - dockyards.io
    resources:
      - dnszones
      - workloads
    verbs:
      - create
      - get
      - list
      - patch
      - watch
